<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileName" value="C:\ExceptionNotifier\Config.json"/>
    <add key="SendNotificationInterval" value="5000" /> <!--1000 is one second-->
    <add key="ApplicationLifetime" value="2022-01-04 12:00:00" />
    <add key="CheckApplicationLifetimeInterval" value="5000" /> <!--1000 is one second-->
    <add key="Log4NetLogger" value="True" />
    <add key="Log4NetLoggerDaysToKeepLogs" value="60" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>