<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ManagedColoredConsoleAppender" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="LogFileDiagnostic" />
    </root>
    <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="DarkRed" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} - %level: %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs\errorlog" />
      <param name="DatePattern" value="'_'yyyy-MM-dd"/>
      <param name="AppendToFile" value="true" />
      <param name="preserveLogFileNameExtension" value="true" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="5MB" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} - %level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="LogFileDiagnostic" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs\diagnostics\diagnostic" />
      <param name="DatePattern" value="'_'yyyy-MM-dd"/>
      <param name="AppendToFile" value="true" />
      <param name="preserveLogFileNameExtension" value="true" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} - %level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>
  </log4net>
</configuration>

